body {
    padding: 0%;
    margin: 0%;
}
.header {
    background-color: #1F2937;
    height: 500px;
    width: auto;
}

.top {
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px;
}

.center {
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    color: white;
    justify-content: space-evenly;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9f9f9
}

.title {
    height: auto;
    width: 400px;
}

.title p {
    font-size: 18px;
    color: #E5E7EB;
}

.title button {
    background-color: #3882F6;
    color: white;
    height: auto;
    width: 150px;
    border-radius: 8px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}

img {
    border-style: hidden;
    background-color: gray;
    height: auto;
    width: 500px;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 50px;
}

.items {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    border-style: ridge;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 25px;
}

.item p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 150px;
    width: 150px;
    align-content: center;
}

.quote {
    background-color: #E5E7EB;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
}

.thor {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.call {
    align-content: center;
    width: 950px;
    height: 150px;
    background-color: #3882F6;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.time {
    color: white;
    align-items: center;
    margin-top: 25px;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 50px;
}

.bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.bottom button {
    font-weight: 600;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    height: 40px;
    width: 130px;
    padding: 8px;
    border: 2px solid white;
}

.text {
    color: white;
}

ul {
    list-style: none;
    display: flex;
}